apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: 039454511521.dkr.ecr.eu-west-1.amazonaws.com/demo-frontend
  newName: 039454511521.dkr.ecr.eu-west-1.amazonaws.com/demo-frontend
  newTag: "51310438"
resources:
- ../../base
patchesStrategicMerge:
- front-deployment-patch.yaml
- front-service-patch.yaml
